[Unit]
Description=etcdlabs with Docker
Documentation=https://github.com/coreos/etcdlabs

[Service]
Restart=always
RestartSec=5s
TimeoutStartSec=0
LimitNOFILE=40000

ExecStart=/usr/bin/docker \
    run \
    --net=host \
    --name etcdlabs-frontend \
    --ulimit nofile=262144:262144 \
    quay.io/coreos/etcdlabs:latest \
    yarn \
    start

ExecStop=/usr/bin/docker rm --force etcdlabs-frontend

[Install]
WantedBy=multi-user.target
