<div class="home-group">
    <section class="more-about">
        <div class="inner">
            <div class="block block-copy half">
                <h2>About etcd</h2>
                <p>
                    <a href="https://github.com/coreos/etcd" target="_blank" class="home-link-main">etcd</a> is an open source distributed key-value store for the most critical data of distributed system. It is distributed by replicating data to multiple
                    machines, therefore highly available against single point of failures. Using the <a href="https://raft.github.io" target="_blank" class="home-link-main">Raft</a> consensus algorithms, etcd gracefully handles network partitions and
                    machine failures, even leader failures. etcd is being widely used in production:
                    <a href="https://coreos.com" target="_blank" class="home-link-main">CoreOS</a>,
                    <a href="http://kubernetes.io" target="_blank" class="home-link-main">Kubernetes</a>, <a href="https://github.com/youtube/doorman" target="_blank" class="home-link-main">YouTube Doorman</a>, etc.
                </p>
                <br>
                <a routerLink="/install">
                    <button md-raised-button color="primary" class="home-button">
                        Get Started
                    </button>
                </a>
                <a routerLink="/play">
                    <button md-raised-button class="home-play-button">
                        Play
                    </button>
                </a>
            </div>

            <div class="block block-copy half">
                <img src="app/home/images/etcd-glyph-color.svg" alt="etcd-glyph-color">
            </div>
        </div>
    </section>
    <router-outlet></router-outlet>
</div>