<md-toolbar color="primary">
    <a routerLink="/home"><button md-button>etcd</button></a>
    <a routerLink="/doc"><button md-button>Documentation</button></a>
    <a routerLink="/blog"><button md-button>Blog</button></a>
    <a routerLink="/play"><button md-button>Playground</button></a>

    <span class="app-toolbar-filler"></span>

    <a href="https://github.com/coreos/etcdlabs" target="_blank">
        <md-icon>code</md-icon>
    </a>
    <span style="width:10px;"></span>
    <a href=" https://github.com/coreos/etcd" target="_blank ">
        <md-icon>home</md-icon>
    </a>
</md-toolbar>

<router-outlet></router-outlet>