<md-toolbar color="primary">
    <a routerLink="/home"><button md-button>etcd</button></a>
    <a routerLink="/doc"><button md-button>Doc</button></a>
    <a routerLink="/blog"><button md-button>Blog</button></a>
    <a routerLink="/play"><button md-button>Play</button></a>
    <a href="https://github.com/coreos/etcdlabs" target="_blank"><button md-button>Code</button></a>

    <!--<span class="app-toolbar-filler"></span>
	<a href="..." target="_blank">
		<md-icon>code</md-icon>
	</a>-->
</md-toolbar>

<router-outlet></router-outlet>