<md-sidenav-layout>
    <md-sidenav #sidenav [opened]="true" mode="side" class="doc-sidenav">
        <md-list>

            <h3 md-subheader>Getting Started</h3>
            <md-list-item>Install</md-list-item>
            <md-list-item>Deploy</md-list-item>

            <md-divider></md-divider>
            <h3 md-subheader>Guides</h3>
            <md-list-item>etcdctl</md-list-item>
            <md-list-item>clients</md-list-item>

            <md-divider></md-divider>
            <h3 md-subheader>More</h3>
            <md-list-item>FAQ</md-list-item>

        </md-list>
    </md-sidenav>

    <div class="doc-group">
        <p>Hello</p>
        <p>Hello</p>
        <p>Hello</p>
        <p>Hello</p>
        <p>Hello</p>
        <p>Hello</p>
        <p>Hello</p>
        <p>Hello</p>
        <p>Hello</p>
    </div>
</md-sidenav-layout>