md-divider {
    color: lightgray;
}

md-sidenav-layout {
    min-height: 600px;
}

.doc-sidenav {
    padding: 10px;
    min-width: 150px;
}

.doc-group {
    padding: 30px;
}

a {
    color: black;
    text-decoration: none !important;
}

.no-text-decoration {
    color: black;
    text-decoration: none !important;
}

.doc-title {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.doc-description {
    color: darkgray;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: italic;
}

.versions-link-main {
    color: black;
    text-decoration: none !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.versions-link-main-emphasize {
    color: black;
    text-decoration: none !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: bold;
}

.versions-link-other {
    color: darkgray;
    text-decoration: none !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: italic;
}