md-sidenav-layout {
    min-height: 600px;
}

.doc-sidenav {
    padding: 10px;
    min-width: 150px;
}

.doc-group {
    padding: 30px;
}

a {
    color: black;
    text-decoration: none !important;
}

.no-text-decoration {
    color: black;
    text-decoration: none !important;
}

md-divider {
    color: lightgray;
}

.other-versions {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}