md-divider {
    color: lightgray;
}

md-sidenav-layout {
    min-height: 600px;
}

.doc-sidenav {
    padding: 10px;
    min-width: 150px;
}

.doc-group {
    padding: 30px;
}

.doc-group md-checkbox {
    margin: 10px;
}

a {
    color: black;
    text-decoration: none !important;
}

.no-text-decoration {
    color: black;
    text-decoration: none !important;
}

.doc-title {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.doc-description {
    color: darkgray;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: italic;
}

.sub-sub-title {
    color: darkgray;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 0.07;
}

.versions-link-main {
    color: black;
    text-decoration: none !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.versions-link-main-emphasize {
    color: black;
    text-decoration: none !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: bold;
}

.versions-link-normal {
    color: dimgrey;
    text-decoration: none !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.versions-link-other {
    color: darkgray;
    text-decoration: none !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: italic;
}

.error-message {
    margin: 5px;
    color: red;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: italic;
}

.code-light {
    white-space: pre-wrap;
    border-style: solid;
    border-width: 1px;
    border-color: lightslategrey;
    border-radius: 5px;
    background: #f5f5f5;
    color: #366354;
    font-family: monospace;
    font-size: 14px;
    font-weight: 400;
    padding: 8px;
    margin: 1em 0px 1em;
    word-wrap: normal;
}

.code-dark {
    white-space: pre-wrap;
    border-style: solid;
    border-width: 1px;
    border-color: lightslategrey;
    border-radius: 5px;
    background: #37474F;
    color: #76FF03;
    font-family: monospace;
    font-size: 14px;
    font-weight: 400;
    padding: 8px;
    margin: 1em 0px 1em;
    word-wrap: normal;
}