.blog-group {
    padding: 30px;
}

md-divider {
    color: lightgray;
}

md-sidenav-layout {
    min-height: 600px;
}

.blog-sidenav {
    padding: 10px;
    min-width: 150px;
}

.blog-item-title-sidebar {
    color: black;
    text-decoration: none !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding-bottom: 3px;
}

.blog-title {
    color: grey;
    font-family: Sans-Serif;
}

.blog-date {
    color: #999;
    font-family: Sans-Serif;
    font-size: 14px;
}

.blog-author {
    color: darkgray;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-style: italic;
}

.blog-author-link {
    color: darkgray;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-style: italic;
    text-decoration: none !important;
}

.blog-contents p {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
}

.normal-link {
    color: dodgerblue;
    text-decoration: none !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
}

.code-light-snippet {
    background: #f5f5f5;
    color: #366354;
    font-family: monospace;
    font-size: 14px;
}

.code-light {
    white-space: pre-wrap;
    border-style: solid;
    border-width: 1px;
    border-color: lightslategrey;
    border-radius: 5px;
    background: #f5f5f5;
    color: #366354;
    font-family: monospace;
    font-size: 14px;
    font-weight: 400;
    padding: 8px;
    margin: 1em 0px 1em;
    word-wrap: normal;
}