.blog-group {
    padding: 30px;
}

md-divider {
    color: lightgray;
}

md-sidenav-layout {
    min-height: 600px;
}

.blog-sidenav {
    padding: 10px;
    min-width: 150px;
}

a {
    color: black;
    text-decoration: none !important;
}

.blog-item-title-sidebar {
    color: black;
    text-decoration: none !important;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
}

.blog-title {
    color: grey;
    font-family: Sans-Serif;
}

.blog-date {
    color: #999;
    font-family: Sans-Serif;
    font-size: 14px;
}

.blog-author {
    color: darkgray;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-style: italic;
}

.blog-contents p {
    color: black;
    font-family: 'Inconsolata', monospace;
    font-size: 15px;
}