<div class="play-group">
    <button (click)="clickConnect()" md-raised-button color="primary" *ngIf="!connected">Connect</button>
    <button (click)="clickDisconnect()" md-raised-button color="warn" *ngIf="connected">Disconnect</button>
    <button md-raised-button (click)="clickShowUser()">{{userN}} users online</button>
    <button md-raised-button>Uptime: {{serverUptime}}</button>
    <br>
    <p *ngIf="showUser">
        <md-list>
            <md-list-item *ngFor="let user of users;">
                {{user}}
            </md-list-item>
        </md-list>
    </p>
    <br>

    <div class="inner">
        <div class="block block-copy half">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="border: 0px solid black" width="500" height="400">
				<circle id="ring" cx="230" cy="210" r="110" style="fill: #F5F5F5"></circle>
				<g id="servers">
					<g class="circle-before-start" [class.circle-Stopped]="nodeStatuses[0].State == 'Stopped'" [class.circle-Follower]="nodeStatuses[0].State == 'Follower'"
						[class.circle-Leader]="nodeStatuses[0].State == 'Leader'" tabindex="0">
						<text x="213" y="50" font-size="13">node1</text>
						<text x="210" y="67" font-size="11">(Hash: {{ nodeStatuses[0].Hash }})</text>
						<a (click)="selectTab(3)">
							<circle cx="230" cy="100" r="25"></circle>
						</a>
					</g>
					<g class="circle-before-start" [class.circle-Stopped]="nodeStatuses[1].State == 'Stopped'" [class.circle-Follower]="nodeStatuses[1].State == 'Follower'"
						[class.circle-Leader]="nodeStatuses[1].State == 'Leader'" tabindex="0">
						<text x="355" y="160" font-size="13">node2</text>
						<text x="360" y="177" font-size="11">(Hash: {{ nodeStatuses[1].Hash }})</text>
						<a (click)="selectTab(4)">
							<circle cx="330" cy="180" r="25"></circle>
						</a>
					</g>
					<g class="circle-before-start" [class.circle-Stopped]="nodeStatuses[2].State == 'Stopped'" [class.circle-Follower]="nodeStatuses[2].State == 'Follower'"
						[class.circle-Leader]="nodeStatuses[2].State == 'Leader'" tabindex="0">
						<text x="320" y="320" font-size="13">node3</text>
						<text x="302" y="337" font-size="11">(Hash: {{ nodeStatuses[2].Hash }})</text>
						<a (click)="selectTab(5)">
							<circle cx="295" cy="295" r="25"></circle>
						</a>
					</g>
					<g class="circle-before-start" [class.circle-Stopped]="nodeStatuses[3].State == 'Stopped'" [class.circle-Follower]="nodeStatuses[3].State == 'Follower'"
						[class.circle-Leader]="nodeStatuses[3].State == 'Leader'" tabindex="0">
						<text x="80" y="320" font-size="13">node4</text>
						<text x="80" y="337" font-size="11">(Hash: {{ nodeStatuses[3].Hash }})</text>
						<a (click)="selectTab(6)">
							<circle cx="160" cy="295" r="25"></circle>
						</a>
					</g>
					<g class="circle-before-start" [class.circle-Stopped]="nodeStatuses[4].State == 'Stopped'" [class.circle-Follower]="nodeStatuses[4].State == 'Follower'"
						[class.circle-Leader]="nodeStatuses[4].State == 'Leader'" tabindex="0">
						<text x="42" y="173" font-size="13">node5</text>
						<text x="47" y="150" font-size="11">(Hash: {{ nodeStatuses[4].Hash }})</text>
						<a (click)="selectTab(7)">
							<circle cx="125" cy="180" r="25"></circle>
						</a>
					</g>
				</g>
			</svg>
        </div>

        <div class="block block-copy half">
            <md-card class="client-card">
                <md-tab-group [(selectedIndex)]="selectedTab">
                    <md-tab>
                        <template md-tab-label><b>Write</b></template>
                        <template md-tab-content>
							<br>
							<div align="center">
								<span class="select-node-checkbox">Endpoints: </span>
								<md-checkbox [(ngModel)]="selectedNodes[0]" [checked]="true"><span class="select-node-checkbox">node1</span></md-checkbox>
								<md-checkbox [(ngModel)]="selectedNodes[1]"><span class="select-node-checkbox">node2</span></md-checkbox>
								<md-checkbox [(ngModel)]="selectedNodes[2]"><span class="select-node-checkbox">node3</span></md-checkbox>
								<md-checkbox [(ngModel)]="selectedNodes[3]"><span class="select-node-checkbox">node4</span></md-checkbox>
								<md-checkbox [(ngModel)]="selectedNodes[4]"><span class="select-node-checkbox">node5</span></md-checkbox>
							</div>
							<br>
							<div class="input-group">
								<!--<input #inputKey type="text" style="min-width: 250px;" class="form-control" placeholder="Type your key..." />-->
								<!--<input type="text" style="min-width: 250px;" class="form-control" placeholder="Type your key..." [(ngModel)]="inputKey" />-->
								<input type="text" style="min-width: 250px;" class="form-control" placeholder="Type your key..." [(ngModel)]="inputKey" />

								<!--processWrite(inputKey.value, inputValue.value); inputKey.value=''; inputValue.value='';-->
								<span class="input-group-btn">
								<button md-button color="primary" (click)="processClientRequest('write');">Submit</button>
								<button md-button color="warn" (click)="processClientRequest('stress');">Stress</button>
								</span>
							</div>
							<div class="input-group">
								<!--<textarea #clientRequest.KeyValue.Value type="text" style="min-width: 250px;" class="form-control" placeholder="Type your value..." rows="5"></textarea>-->
								<textarea type="text" style="min-width: 250px;" class="form-control" placeholder="Type your value..." rows="5" [(ngModel)]="inputValue"></textarea>
							</div>
							<p class="client-card-text-status">
								{{writeResult}} <span *ngIf='clientResponseError'>(error: {{clientResponseError}})</span>
							</p>
						</template>
                    </md-tab>

                    <md-tab>
                        <template md-tab-label><b>Delete</b></template>
                        <template md-tab-content>
							<br>
							<div align="center">
								<span class="select-node-checkbox">Endpoints: </span>
								<md-checkbox [(ngModel)]="selectedNodes[0]" [checked]="true"><span class="select-node-checkbox">node1</span></md-checkbox>
								<md-checkbox [(ngModel)]="selectedNodes[1]"><span class="select-node-checkbox">node2</span></md-checkbox>
								<md-checkbox [(ngModel)]="selectedNodes[2]"><span class="select-node-checkbox">node3</span></md-checkbox>
								<md-checkbox [(ngModel)]="selectedNodes[3]"><span class="select-node-checkbox">node4</span></md-checkbox>
								<md-checkbox [(ngModel)]="selectedNodes[4]"><span class="select-node-checkbox">node5</span></md-checkbox>
							</div>
							<br>
							<div class="input-group">
								<input type="text" style="min-width: 250px;" class="form-control" placeholder="Type your key..." [(ngModel)]="inputKey" />
								<span class="input-group-btn">
								<button md-button color="primary" (click)="processClientRequest('delete');">Submit</button>
								<md-checkbox [(ngModel)]="deleteReadByPrefix"><span class="prefix-checkbox">Prefix</span></md-checkbox>
								</span>
							</div>
							<p class="client-card-text-status">
								{{deleteResult}} <span *ngIf='clientResponseError'>(error: {{clientResponseError}})</span>
							</p>
						</template>
                    </md-tab>

                    <md-tab>
                        <template md-tab-label><b>Read</b></template>
                        <template md-tab-content>
							<br>
							<div align="center">
								<span class="select-node-checkbox">Endpoints: </span>
								<md-checkbox [(ngModel)]="selectedNodes[0]" [checked]="true"><span class="select-node-checkbox">node1</span></md-checkbox>
								<md-checkbox [(ngModel)]="selectedNodes[1]"><span class="select-node-checkbox">node2</span></md-checkbox>
								<md-checkbox [(ngModel)]="selectedNodes[2]"><span class="select-node-checkbox">node3</span></md-checkbox>
								<md-checkbox [(ngModel)]="selectedNodes[3]"><span class="select-node-checkbox">node4</span></md-checkbox>
								<md-checkbox [(ngModel)]="selectedNodes[4]"><span class="select-node-checkbox">node5</span></md-checkbox>
							</div>
							<br>
							<div class="input-group">
								<input type="text" style="min-width: 250px;" class="form-control" placeholder="Type your key..." [(ngModel)]="inputKey" />
								<span class="input-group-btn">
								<button md-button color="primary" (click)="processClientRequest('get');">Submit</button>
								<md-checkbox [(ngModel)]="deleteReadByPrefix"><span class="prefix-checkbox">Prefix</span></md-checkbox>
								</span>
							</div>
							<p class="client-card-text-status">
								{{readResult}} <span *ngIf='clientResponseError'>(error: {{clientResponseError}})</span>
							</p>
						</template>
                    </md-tab>

                    <md-tab *ngFor="let nodeStatus of nodeStatuses;">
                        <template md-tab-label>{{nodeStatus.Name}}</template>
                        <template md-tab-content>
							<br>
							<div align="center">
								<!--md-tooltip="Click to kill {{nodeStatus.Name}}" -->
								<!--md-tooltip="Click to restart {{nodeStatus.Name}}"-->
								<button md-button color="warn" (click)="processClientRequest('stop-node');">Stop</button>
								<button md-button (click)="processClientRequest('restart-node');">Restart</button>
							</div>
							<ul>
								<li><span class="client-card-text-list-title">ID:</span> <span class="client-card-text-id">{{nodeStatus.ID}}</span></li>
								<li><span class="client-card-text-list-title">Endpoint:</span> <span class="client-card-text-endpoint">{{nodeStatus.Endpoint}}</span></li>
								<li><span class="client-card-text-list-title">State:</span>
									<span *ngIf="nodeStatus.State == 'Stopped'" class="client-card-text-Stopped">{{nodeStatus.State}}</span>
									<span *ngIf="nodeStatus.State == 'Follower'" class="client-card-text-Follower">{{nodeStatus.State}}</span>
									<span *ngIf="nodeStatus.State == 'Leader'" class="client-card-text-Leader">{{nodeStatus.State}}</span>
								</li>
								<li><span class="client-card-text-list-title">DB Size:</span> <span class="client-card-text-dbsize">{{nodeStatus.DBSizeTxt}}</span></li>
								<li><span class="client-card-text-list-title">Hash:</span> <span class="client-card-text-hash">{{nodeStatus.Hash}}</span></li>
							</ul>
							<p class="client-card-text-status">
								{{nodeStatus.StateTxt}} <span *ngIf='serverStatusErrorMessage'>(error: {{serverStatusErrorMessage}})</span>
							</p>
						</template>
                    </md-tab>
                </md-tab-group>
            </md-card>

        </div>
    </div>

    <div class="inner">
        <div #logContainer class="log-box">
            <div *ngFor="let logLine of this.logOutputLines; trackBy:trackByLineIndex">
                <span *ngIf="logLine.logLevel == 'OK'" class="log-output-prefix-OK">{{ logLine.prefix }}</span>
                <span *ngIf="logLine.logLevel == 'INFO'" class="log-output-prefix-INFO">{{ logLine.prefix }}</span>
                <span *ngIf="logLine.logLevel == 'WARN'" class="log-output-prefix-WARN">{{ logLine.prefix }}</span>
                <span class="log-output">{{ logLine.text }}</span>
            </div>
        </div>
    </div>
</div>