<div class="play-group">

    <div class="inner">
        <div class="block block-copy half">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="border: 0px solid black" width="500" height="400">
				<circle id="ring" cx="230" cy="210" r="110" style="fill: #F5F5F5"></circle>
				<g id="servers">
					<g id="node1" style="fill: #B3E5FC" tabindex="0" title="node1">
						<text x="213" y="50" font-size="13">node1</text>
						<text x="210" y="67" font-size="11" id="node1-id">(Hash: 0)</text>
						<a (click)="selectTab(3)">
							<circle cx="230" cy="100" r="25"></circle>
						</a>
					</g>
					<g id="node2" style="fill: #B3E5FC" tabindex="0" title="node2">
						<text x="355" y="160" font-size="13">node2</text>
						<text x="360" y="177" font-size="11" id="node2-id">(Hash: 0)</text>
						<a (click)="selectTab(4)">
							<circle cx="330" cy="180" r="25"></circle>
						</a>
					</g>
					<g id="node3" style="fill: #B3E5FC" tabindex="0" title="node3">
						<text x="320" y="320" font-size="13">node3</text>
						<text x="302" y="337" font-size="11" id="node3-id">(Hash: 0)</text>
						<a (click)="selectTab(5)">
							<circle cx="295" cy="295" r="25"></circle>
						</a>
					</g>
					<g id="node4" style="fill: #B3E5FC" tabindex="0" title="node4">
						<text x="80" y="320" font-size="13">node4</text>
						<text x="80" y="337" font-size="11" id="node4-id">(Hash: 0)</text>
						<a (click)="selectTab(6)">
							<circle cx="160" cy="295" r="25"></circle>
						</a>
					</g>
					<g id="node5" style="fill: #B3E5FC" tabindex="0" title="node5">
						<text x="42" y="173" font-size="13">node5</text>
						<text x="47" y="150" font-size="11" id="node5-id">(Hash: 0)</text>
						<a (click)="selectTab(7)">
							<circle cx="125" cy="180" r="25"></circle>
						</a>
					</g>
				</g>
			</svg>
        </div>

        <div class="block block-copy half">
            <md-card class="client-card">
                <md-tab-group [(selectedIndex)]="selectedTab">
                    <md-tab>
                        <template md-tab-label><b>Write</b></template>
                        <template md-tab-content>
							<br>
							<div align="center">
								<span class="select-node-checkbox">Select endpoints: </span>
								<md-checkbox [(ngModel)]="selectedNodes[0]" [checked]="true"><span class="select-node-checkbox">node1</span></md-checkbox>
								<md-checkbox [(ngModel)]="selectedNodes[1]"><span class="select-node-checkbox">node2</span></md-checkbox>
								<md-checkbox [(ngModel)]="selectedNodes[2]"><span class="select-node-checkbox">node3</span></md-checkbox>
								<md-checkbox [(ngModel)]="selectedNodes[3]"><span class="select-node-checkbox">node4</span></md-checkbox>
								<md-checkbox [(ngModel)]="selectedNodes[4]"><span class="select-node-checkbox">node5</span></md-checkbox>
							</div>
							<br>

							<button md-button (click)=fetch()>Update (Test)</button>
						</template>
                    </md-tab>

                    <md-tab>
                        <template md-tab-label><b>Read</b></template>
                        <template md-tab-content>
							<br>
							<div align="center">
								<span class="select-node-checkbox">Select endpoints: </span>
								<md-checkbox [(ngModel)]="selectedNodes[0]" [checked]="true"><span class="select-node-checkbox">node1</span></md-checkbox>
								<md-checkbox [(ngModel)]="selectedNodes[1]"><span class="select-node-checkbox">node2</span></md-checkbox>
								<md-checkbox [(ngModel)]="selectedNodes[2]"><span class="select-node-checkbox">node3</span></md-checkbox>
								<md-checkbox [(ngModel)]="selectedNodes[3]"><span class="select-node-checkbox">node4</span></md-checkbox>
								<md-checkbox [(ngModel)]="selectedNodes[4]"><span class="select-node-checkbox">node5</span></md-checkbox>
							</div>
							<br>

						</template>
                    </md-tab>

                    <md-tab>
                        <template md-tab-label><b>Delete</b></template>
                        <template md-tab-content>
							<br>
							<div align="center">
								<span class="select-node-checkbox">Select endpoints: </span>
								<md-checkbox [(ngModel)]="selectedNodes[0]" [checked]="true"><span class="select-node-checkbox">node1</span></md-checkbox>
								<md-checkbox [(ngModel)]="selectedNodes[1]"><span class="select-node-checkbox">node2</span></md-checkbox>
								<md-checkbox [(ngModel)]="selectedNodes[2]"><span class="select-node-checkbox">node3</span></md-checkbox>
								<md-checkbox [(ngModel)]="selectedNodes[3]"><span class="select-node-checkbox">node4</span></md-checkbox>
								<md-checkbox [(ngModel)]="selectedNodes[4]"><span class="select-node-checkbox">node5</span></md-checkbox>
							</div>
							<br>

						</template>
                    </md-tab>

                    <md-tab *ngFor="let nodeStatus of serverStatus.NodeStatuses;">
                        <template md-tab-label>{{nodeStatus.Name}}</template>
                        <template md-tab-content>
							<br>
							<div align="center">
								<button md-button color="warn" md-tooltip="Click to kill {{nodeStatus.Name}}" (click)=clickStop()>Stop</button>
								<button md-button md-tooltip="Click to restart {{nodeStatus.Name}}" (click)=clickRestart()>Restart</button>
							</div>
							<p class="client-card-text-status">
								{{nodeStatus.StateTxt}} <span *ngIf='errorMessage'>(error: {{errorMessage}})</span>
							</p>
							<ul>
								<li><span class="client-card-text-list-title">ID:</span> <span class="client-card-text-id">{{nodeStatus.ID}}</span></li>
								<li><span class="client-card-text-list-title">Endpoint:</span> <span class="client-card-text-endpoint">{{nodeStatus.Endpoint}}</span></li>
								<li><span class="client-card-text-list-title">State:</span>
									<span *ngIf="nodeStatus.State == 'Stopped'" class="client-card-text-stopped">{{nodeStatus.State}}</span>
									<span *ngIf="nodeStatus.State == 'Follower'" class="client-card-text-follower">{{nodeStatus.State}}</span>
									<span *ngIf="nodeStatus.State == 'Leader'" class="client-card-text-leader">{{nodeStatus.State}}</span>
								</li>
								<li><span class="client-card-text-list-title">DB Size:</span> <span class="client-card-text-dbsize">{{nodeStatus.DBSizeTxt}}</span></li>
								<li><span class="client-card-text-list-title">Hash:</span> <span class="client-card-text-hash">{{nodeStatus.Hash}}</span></li>
							</ul>
						</template>
                    </md-tab>
                </md-tab-group>
            </md-card>

        </div>
    </div>

    <h3 id="log">Log</h3>
    <div id="log-box" class="log-box">
        <div id="log-output">
            {{ getSelectedNodeEndpointsTxt() }}
        </div>
    </div>
</div>