<div class="play-group">

    <div class="inner">
        <div class="block block-copy half">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="border: 0px solid black" width="500" height="400">
				<circle id="ring" cx="230" cy="210" r="110" style="fill: #F5F5F5"></circle>
				<g id="servers">
					<g id="node1" style="fill: #B3E5FC" tabindex="0" title="node1">
						<text x="213" y="50" font-size="13">node1</text>
						<text x="210" y="67" font-size="11" id="node1-id">(Hash: 0)</text>
						<a (click)="selectTab(3)">
							<circle cx="230" cy="100" r="25"></circle>
						</a>
					</g>
					<g id="node2" style="fill: #B3E5FC" tabindex="0" title="node2">
						<text x="355" y="160" font-size="13">node2</text>
						<text x="360" y="177" font-size="11" id="node2-id">(Hash: 0)</text>
						<a (click)="selectTab(4)">
							<circle cx="330" cy="180" r="25"></circle>
						</a>
					</g>
					<g id="node3" style="fill: #B3E5FC" tabindex="0" title="node3">
						<text x="320" y="320" font-size="13">node3</text>
						<text x="302" y="337" font-size="11" id="node3-id">(Hash: 0)</text>
						<a (click)="selectTab(5)">
							<circle cx="295" cy="295" r="25"></circle>
						</a>
					</g>
					<g id="node4" style="fill: #B3E5FC" tabindex="0" title="node4">
						<text x="80" y="320" font-size="13">node4</text>
						<text x="80" y="337" font-size="11" id="node4-id">(Hash: 0)</text>
						<a (click)="selectTab(6)">
							<circle cx="160" cy="295" r="25"></circle>
						</a>
					</g>
					<g id="node5" style="fill: #B3E5FC" tabindex="0" title="node5">
						<text x="42" y="173" font-size="13">node5</text>
						<text x="47" y="150" font-size="11" id="node5-id">(Hash: 0)</text>
						<a (click)="selectTab(7)">
							<circle cx="125" cy="180" r="25"></circle>
						</a>
					</g>
				</g>
			</svg>
        </div>

        <div class="block block-copy half">
            <md-card class="client-card">
                <md-tab-group [(selectedIndex)]="selectedTab">
                    <md-tab>
                        <template md-tab-label><b>Write</b></template>
                        <template md-tab-content>
							<p>Hello World! Read!</p>
						</template>
                    </md-tab>

                    <md-tab>
                        <template md-tab-label><b>Read</b></template>
                        <template md-tab-content>
							<p>Hello World! Read!</p>
						</template>
                    </md-tab>

                    <md-tab>
                        <template md-tab-label><b>Delete</b></template>
                        <template md-tab-content>
							<p>Hello World! Read!</p>
						</template>
                    </md-tab>

                    <md-tab *ngFor="let nodeStatus of nodeStatuses; let i = index;">
                        <template md-tab-label>{{nodeStatus.Name}}</template>
                        <template md-tab-content>
							<br>
							<div align="center">
								<button md-button color="warn" md-tooltip="Click to kill {{nodeStatus.Name}}">Stop</button>
								<button md-button md-tooltip="Click to restart {{nodeStatus.Name}}">Restart</button>
							</div>
							<br>
							<div>
								<ul>
									<li><span class="client-card-text">Name:</span> {{nodeStatus.Name}}</li>
									<li><span class="client-card-text">ID:</span> {{nodeStatus.ID}}</li>
									<li><span class="client-card-text">Endpoint:</span> {{nodeStatus.Endpoint}}</li>
									<li><span class="client-card-text">State:</span> {{nodeStatus.State}}</li>
									<li><span class="client-card-text">DB Size:</span> {{nodeStatus.DBSizeTxt}}</li>
									<li><span class="client-card-text">Hash:</span> {{nodeStatus.Hash}}</li>
								</ul>
							</div>
						</template>
                    </md-tab>
                </md-tab-group>
            </md-card>

        </div>
    </div>

    <h3 id="log">Log</h3>
    <div id="log-box" class="log-box">
        <div id="log-output ">
        </div>
    </div>
</div>