<md-sidenav-layout>
    <md-sidenav #sidenav [opened]="true" mode="side" class="doc-sidenav">
        <md-list>
            <h3 md-subheader>Folders</h3>
            <md-list-item> Pepper </md-list-item>
            <md-list-item> Salt </md-list-item>
            <md-divider></md-divider>
            <h3 md-subheader>Notes</h3>
            <md-list-item> Paprika </md-list-item>
        </md-list>
    </md-sidenav>

    <div class="doc-group">
        <p>Hello</p>
        <p>Hello</p>
        <p>Hello</p>
        <p>Hello</p>
        <p>Hello</p>
        <p>Hello</p>
        <p>Hello</p>
    </div>
</md-sidenav-layout>