<md-grid-list cols="3 ">

    <md-grid-tile [colspan]="1 ">
        <md-tab-group>
            <md-tab>
                <template md-tab-label>
						A
					</template>
                <template md-tab-content>
						<p>Hello</p>
					</template>
            </md-tab>
            <md-tab>
                <template md-tab-label>
						B
					</template>
                <template md-tab-content>
						<p>World</p>
					</template>
            </md-tab>
        </md-tab-group>
    </md-grid-tile>

    <md-grid-tile [colspan]="2 ">
        <md-tab-group>
            <md-tab>
                <template md-tab-label>
						A
					</template>
                <template md-tab-content>
						<p>Hello</p>
					</template>
            </md-tab>
            <md-tab>
                <template md-tab-label>
						B
					</template>
                <template md-tab-content>
						<p>World</p>
					</template>
            </md-tab>
        </md-tab-group>
    </md-grid-tile>

</md-grid-list>
