/deep/ .md-tab-label {
    /*TODO: adjust md-tab-label size by class*/
    text-align: center;
    /*decrease width of md-tab labels*/
    min-width: 50px !important;
}

.comparison-group {
    padding: 30px;
}

a {
    color: black;
    text-decoration: none !important;
}

.no-text-decoration {
    color: black;
    text-decoration: none !important;
}

sup {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

footer {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.footer-link {
    color: dodgerblue;
    text-decoration: none !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.footer-top-line {
    color: darkgray;
    width: 30%;
}

.normal-link {
    color: dodgerblue;
    text-decoration: none !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.narrow-paragraph {
    max-width: 1000px;
}

.narrow-footer {
    max-width: 800px;
}

.next-to-header-title {
    color: dimgrey;
    text-decoration: none !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.error-message {
    margin: 5px;
    color: red;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: italic;
}

.error-message-normal {
    margin: 5px;
    color: red;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: italic;
}

.code-light-snippet {
    background: #f5f5f5;
    color: #366354;
    font-family: monospace;
    font-size: 14px;
}

.code-light-snippet-small {
    background: #f5f5f5;
    color: #366354;
    font-family: monospace;
    font-size: 12px;
}

.code-light-snippet-red {
    background: #f5f5f5;
    color: #F44336;
    font-family: monospace;
    font-size: 14px;
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 300;
    color: #000
}