<link rel="stylesheet" type="text/css" href="app/blog/blog.component.css">

<md-sidenav-layout>
    <md-sidenav #left [opened]="true" mode="side" class="blog-sidenav">
        <div *ngFor="let sidebarItem of sidebarItems">
            <md-list>
                <md-list-item [md-menu-trigger-for]="menu">{{sidebarItem.year}}
                    <md-menu #menu="mdMenu">
                        <md-list>
                            <md-list-item *ngFor="let blogItem of sidebarItem.blogItems">
                                <a routerLink="{{blogItem.url}}" class="blog-item-title-sidebar">{{blogItem.title}}</a>
                            </md-list-item>
                        </md-list>
                    </md-menu>
                </md-list-item>
            </md-list>
        </div>
    </md-sidenav>

    <div class="blog-group">
        <router-outlet></router-outlet>
        Announcing etcd v3.1
    </div>
</md-sidenav-layout>